<!doctype html>
<html>
  <head>
  <title>Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/homepage.css" type="text/css">
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1><span class="fa fa-home"></span> Homepage</h1>
        <a href="/upload" class="btn btn-default btn-sm">Upload Image</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="text-center">
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="well">Image 1</div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="well">Image 2</div>
    </div>

    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-3">
      <div class="well">Image 3</div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="well">Image 4</div>
    </div>
  </div>
</div>


    </div>
  </body>
</html>
